{% extends 'home/layout.html' %}
{% load static %}
{% block title %} Checkout {% endblock title %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.model}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <h5>Total Amount: {{total_amount}}</h5>
     
    </div>
    <div class="col-sm-4 offset-sm-1">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %} col-xl-12"
              role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
          </div>
          {% endfor %}
          {% endif %}
      <h4>Select Delivery Address</h4>
      <hr>
      <form action="{% url 'payment' id %}" method="post">
        {% csrf_token %}
        {% for addr in addresses %}
 
        <div class="card"> 
          <div class="card-body">
            <h5>{{addr.user_id.first_name}} {{addr.user_id.last_name}}</h5>
            <p>{{addr.area}} {{addr.city}} {{addr.pin}}</p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="{{addr.id}}" name="custid"
            id="custadd{{forloop.counter}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}"> Address: {{forloop.counter}} </label>
        </div>
        {% empty %}
          <h3>No address! Please add your address</h3>

        {% endfor %}

        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
    </div>
    </form>

  </div>
</div>
</div>
{% endblock content %}