{% extends 'home/layout.html' %}
{% load static %}
{% block title %} Cart is Empty!{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <h1 class="text-center mb-5">Shopping cart is empty!</h1>
        <div class="col-sm-8">
            <div class="card">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}