{% extends 'home/layout.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block script %}
 
{% endblock %}


{% block banner_slider %}
<div id="carouselExampleControls" class="carousel slide mb-1" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/images/image3.png' %}" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/images/mobiles.png' %}" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/images/slide2.jpg' %}" class="d-block " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">

{% if user.is_authenticated and user.is_active %}
<div class="row g-4">

  {% for product in all_products|slice:":3" %}
    <div>
      <h3>{{product.0.brand_id}}</h3> 
    </div>
      {% for item in product %}
      <div class="col-md-6 col-lg-3">
        <div class="card bg-list">
            <div class="card-body text-center">
              <a href="{% url 'userproduct-details' id item.id %}" class="imgHover" title="This image is taken from www.amazon.in">
                <img src="{{item.image.url}}" alt="" class="card-img-custom card-img-top w-50">
              </a>
                <h5 class="card-title mb-3">{{item.model}}</h5>
                <p class="card-text">{{item.short_description}}</p>
                <div class="d-md-flex align-items-center">
                  {% if user.is_active %}
                  <a href="{% url 'add-to-cart' id item.id %}" type="button" class="btn btn-primary mx-3">Addto Cart</a>
                  {% else %}
                  <a href="{% url 'login' %}" type="button" class="btn btn-primary mx-3">Addto Cart</a>
                  {% endif %}
                  <h5>₹{{item.discount_price}}</h5>
                </div>
              </div>
             
        </div>
    </div>
    {% endfor %}
  {% endfor %}
</div>
{% else %}

<div class="row g-4">

  {% for product in all_products|slice:":3" %}
    <div>
      <h5>{{product.0.brand_id}}</h5> 
    </div>
      {% for item in product %}
      <div class="col-md-6 col-lg-3">
        <div class="card bg-list">
            <div class="card-body text-center">
              <a href="{% url 'userproduct-details' 0 item.id %}" class="imgHover" title="This image is taken from www.amazon.in">
                <img src="{{item.image.url}}" alt="" class="card-img-top w-50">
              </a>
              <h5 class="card-title mb-3">{{item.model}}</h5>
              <p class="card-text">{{item.short_description}}</p>
              <div class="d-md-flex align-items-center">
                <a href="#" type="button" class="btn btn-primary mx-3">Addto Cart</a>
                <h5>₹{{item.discount_price}}</h5>
              </div>
               
            </div>
        </div>
    </div>
    {% endfor %}
  {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}