{% extends 'home/layout.html' %}

{% load static %}

{% block title %}
    {{product.model}} | {{product.short_description}}
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-5 ">
            <img src="{{product.image.url}}" alt="" class="img-fluid img-thumbnail">
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2>{{product.model}}</h2>
            <hr>
            <p>Description: {{product.short_description}}</p> <br>
            <h4>Rs.{{product.discount_price}} 
                <small
                    class="fw-light text-decoration-line-through">{{product.selling_price}}
                </small>
            </h4> 
            <br>
            {% if user.is_active %}
                {% if prouduct_exist_in_cart %}
                    <a href="{% url 'cart' id product.id %}" class="btn btn-primary px-5 py-2">Go to cart</a>
                {% else %}
                    <a href="{% url 'add-to-cart' id product.id %}" class="btn btn-primary px-5 py-2">Add to Cart</a>
                {% endif %}
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary px-5 py-2">Add to Cart</a>
            {% endif %}
            <a href="" class="btn btn-info  px-5 py-2 ms-4">Buy Now</a>
            <ul class="my-3">
                <li>camera: {{product.camera}}</li>
                <li>Display: {{product.display}}</li>
                <li>Processor : {{product.processor}}</li>
                <li>OS: {{product.os}}</li>
            </ul>

        </div>
    </div>
</div>
<div >
    <div class="row">
        {% if product_match_for_review %}
        <div class="col-8 m-4">
            <h3>Add your review about product and our service</h3>
            <form action="{% url 'userproduct-details' id pid %}" method="post" class="">
                {% csrf_token %}
                <!-- <span class="login100-form-title">
                </span> -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %} col-xl-12"
                    role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                
                <div class="mb-3">
                    <label class="form-label">title</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="title"
                     aria-describedby="emailHelp">
                </div>
               
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" name="description">
                </div>

                <div class="mb-3">
                    <label class="form-label">Stars</label>
                    <input type="number" class="form-control" min="1" max="5" placeholder="5" name="stars">
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
        
            </form>
        </div>
    {% endif %}

    <div class="col-8">
        <h3 class="m-3">Reviews : </h3>
        {% for review in reviews %}
        <div class="card m-3">
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-star-fill m-2"></i>{{review.stars}} | {{review.title}}</h5>
              <p class="card-text">{{review.description}}</p>
              <!-- <div class="m-1"><i class="bi bi-star m-1"></i> {{review.stars}}</div> -->
              <i>By {{review.user.first_name}} {{review.user.last_name}}</i> 
            </div>
          </div>
        {% empty %}  
          <h6 class="m-3 text-center">No Reviews!</h6>
        {% endfor %}
    </div>
    </div>
        
</div>
{% endblock %}