{% extends 'home/layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}


<div class="col-6 m-4">

    <form action="{% url 'login' %}" method="POST" class="">
        {% csrf_token %}
        <!-- <span class="login100-form-title">
        </span> -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %} col-xl-12"
            role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="inputEmail"
             aria-describedby="emailHelp">
        </div>
       
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="inputPassword">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

        <div>
            <a href="" class="text-center">Don't have account?</a>
        </div>

    </form>
    
</div>


{% endblock %}