{% extends 'home/layout.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block script %}
 
{% endblock %}

{% block content %}
<div class="container my-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %} col-xl-12"
        role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="my-4"><center><h2>Customers</h2></center></div>
    <div class="row g-4 text-center ">
        <div class="col-3 text-center">
            <h5>Customer Name</h5>
        </div>
        <div class="col-3 text-center">
            <h5>Email</h5>
        </div>
        <div class="col-3 text-center">
            <h5>Contact </h5>
        </div>
        <div class="col-3 text-center">
            <h5>Remove customer </h5>
        </div>
        <div class="orders-divider"></div>

        {% for customer in customers%}
        <div class="col-3">
            <div>{{customer.first_name}} {{customer.last_name}} {{customer.id}}</div>
        </div>
        <div class="col-3">
            <div>Email = {{customer.email}}</div>
        </div>
        <div class="col-3">
            <div>Contact = {{customer.contact}}</div>
        </div>
        <div class="col-3">
            <form action="{% url 'remove_customer' id %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{customer.id}}" name="getCustomer">
                <button type="submit" class="btn btn-primary m-2">Remove Customer</button>
            </form>
        </div>
        <div style="height:4px; background-color: rgb(59, 55, 50,0.2);">
        </div>

        {% endfor %}
    </div>

    <div class="row">
       
    </div>
    
    
    
</div>
{% endblock %}