{% extends 'home/layout.html' %}
{% load static %}
{% block title %} Total Orders{% endblock title %}
{% block content %}
<div class="container-fluid my-5">
    <center><h1>Welcome {{user}}</h1></center>
    <div class="row">
        <h3>Total orders</h3>
        <div class="col-sm-10 offset-sm-1">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %} col-xl-12"
                role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="row shadow-sm-mb-3 my-2 ">
            <div class="col-sm-1 text-center" >
                <h6>Product Image</h6>
            </div>
            <div class="col-sm-2 text-center" >
                <h6>Product Detail</h6>
            </div>
            <div class="col-sm-2 text-center">
                <h6>Customer</h6>
            </div>
            <div class="col-sm-1 text-center">
                <h6>Quantity</h6>
            </div>
            <div class="col-sm-3 text-center">
                <div>
                    <h6>Delivery Address</h6>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div>
                    <h6>Update Order Status </h6>
                </div>
            </div>
            </div>

            <div class="orders-divider"></div>

            {% for order in total_orders %}
            <div class="row shadow-sm-mb-3 my-3">
                <div class="col-sm-1">
                    <img src="{{order.product_id.image.url}}" alt="product img" class="img-fluid" height="150"
                        width="150">
                </div>
                <div class="col-sm-2">
                    <p>Product: {{order.product_id.model}}</p>
                    <p>Quantity: {{order.quantity}}</p>
                    <p>Amount: ₹{{order.total_amount}}</p>
                </div>
                <div class="col-sm-2">
                    <div>User = {{order.user_id.first_name}} {{order.user_id.last_name}}</div>
                    <i>{{order.date}}</i>
                    <p class="text-danger">Payment: <i>{{order.payment_id.payment_type}}</i></i><p>

                </div>
                <div class="col-sm-1 text-center">
                    <div>{{order.quantity}}</div>
                </div>
                <div class="col-sm-3">
                    <div>{{order.address_id.flat_no}}, {{order.address_id.building}}, {{order.address_id.area}},
                        {{order.address_id.city}} {{order.address_id.pin}}
                    </div>
                </div>
               
    
                <div class="col-sm-3 fw-bold">
                    <p>Status: {{order.status}}</p>
                    <form action="{% url 'update-order' id %}" method="post">
                        {% csrf_token %}
                        {% if order.status == 'Cancelled' %}
                        <div class="pogress">
                            <div class="progress-bar" role="progressbar" style="height: 20%;" aria-valuemax="100"
                                aria-valuemin="0" aria-valuenow="20"></div>
                                <p class="btn-danger p-1 m-1">Order is cancelled</p>
                        </div>  
                        {% elif order.status == 'Delivered' %}
                        <div class="pogress">
                            <div class="progress-bar" role="progressbar" style="height: 20%;" aria-valuemax="100"
                                aria-valuemin="0" aria-valuenow="20"></div>
                                <p class="btn-success p-1 m-1">Succefully Delivered</p>
                        </div>  
                        {% else %}
                            <input type="hidden" value="{{order.id}}" name="orderid">
                            <select class="form-select" aria-label="Default select example" name="orderStatus" id="">
                                <option value="" selected="selected" disabled>{{order.status}}</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>

                            <button type="submit" class="btn btn-primary my-2">Update Status</button>

                        {% endif %}
                    </form>
                    
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}