.footer {
    height: 80px;
    background-color: rgb(5, 23, 36);
    color: white;
    text-align: center;
    padding: 10px;
}

.orders-divider{
    border-bottom:  1px solid #8c8b8b;
    size: 40px;
}