.orders-divider{
    border-bottom:  1px solid #8c8b8b;
    size: 40px;
}

.nav-item:hover{
    font-size: 18px;
}

.d-block{
    height: 600px;
    width: 100%;
    
}

#register-email, #login-email, #register-username{
    text-transform: lowercase;
}